* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑", sans-serif;
}
body {
  background-color: rgb(239, 241, 241);
  padding: 50px 0;
}
.container {
  width: 800px;
  margin: 0 auto;
  background-color: rgb(242, 247, 252);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
}
.title {
  text-align: center;
  color: #8b5a2b;
  margin-bottom: 30px;
  font-size: 24px;
  position: relative;
  font-weight: 500;
  padding-bottom: 15px;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #d2b48c;
}
.back-home {
  display: inline-block;
  margin-bottom: 20px;
  color: #e17108;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s;
}
.back-home:hover {
  color: #a70404;
  padding-left: 5px;
  transform: scale(1.1);
}
.back-home i {
  font-size: 16px;
}
.group {
  margin-bottom: 25px;
}
.group label {
  display: block;
  margin-bottom: 8px;
  color: #5b4037;
  font-weight: 500;
  font-size: 15px;
}
.group label i {
  color: #a0522d;
  margin-right: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 14px;
  border-radius: 6px;
  transition: all 0.3s;
  background-color: #fcfcfc;
}
.tips {
  color: #777;
  font-size: 12px;
  margin-top: 5px;
  font-style: italic;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #a0522d;
  box-shadow: 0 0 0 3px rgba(160, 82, 45, 0.1);
}
input::placeholder,
textarea::placeholder {
  color: #b0b0b0;
}
.radio-group,
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 8px;
}
.radio-item,
.checkbox-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #555;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  accent-color: #a0522d;
}
textarea {
  min-height: 120px;
  background-color: rgb(237, 221, 200);
  resize: vertical;
  line-height: 1.6;
}
input[type="file"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.btn {
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-submit {
  background-color: #d97368;
  color: white;
  cursor: pointer;
}
.btn-submit:hover {
  color: rgb(23, 22, 22);
  background-color: #b14807;
  box-shadow: 0 4px 8px rgba(160, 82, 45, 0.2);
  padding-left: 5px;
}
.btn-reset {
  background-color: #d97368;
  color: white;
  cursor: pointer;
}
.btn-reset:hover {
  color: rgb(23, 22, 22);
  background-color: #b14807;
  box-shadow: 0 4px 8px rgba(160, 82, 45, 0.2);
  padding-left: 5px;
}
.section-divider {
  height: 1px;
  background-color: #f0e6d6;
  margin: 30px 0;
}
